*{
  margin: 0;
  padding: 0;
}

.link{
  text-decoration: none;
  color: black;
}
.link2{
  text-decoration: none;
  color: white;
}

html {
  scroll-behavior: smooth;
  background-color: #1D2228;
}


